<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action='/login' method='post'>
        <h3>Login your account</h3>
        <input type='text' placeholder='enter email' name='email'><br><br>
        <input type='text' placeholder='enter password' name='password'><br><br>
        <input type='submit' value='Login'>
    </form>
</body>
</html>